<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WeasyPrint Certi</title>
    <link rel="stylesheet" href="/home/dic/course-DUDIC/static/css/weasy_css.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
<!-- <page size="A4">
</page> -->

<div class="bg">
    <img src='/home/dic/course-DUDIC/images/base_layer_1.png'>
</div>
<div class="logo">
    <img src='/home/dic/course-DUDIC/images/dudic_logo.png'>
</div>
<div class="watermark">
    <img src='/home/dic/course-DUDIC/images/blur_image.png'>
</div>
<div class="sign">
    <img src='/home/dic/course-DUDIC/images/signature.png'>
</div>

<div class="sign_undersign">
    <div class="name">
        <b>Prof. B. Biswal</b>
    </div>
    <div class="design">
        Coordinator
    </div>
</div>

<div class="certi_body">
    <div class="certi_body__heading">
        This is to certify that
    </div>
    <div class="certi_body__name">
         TASHI GUPTA
    </div>
    <div class="certi_body__course">
         has attended the <b>Branding Basics</b> Course
         in blended learning format from
         May 25th to 26th 2020.
    </div>
    <div class="certi_body__perfce">
         Performance was <span>Very Good</span>
    </div>
</div>

<div class='certi_Terms'>
    Please match with physical certificate
</div>
 <!--
     -->
</body>
</html>
