@page{
    size: Letter;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
}

div.bg{
    position: absolute;
}

.bg > img{
    width: 1300px;
    height: 1300px;
}

div.logo{
    position: absolute;
    top: 900px;
    bottom: 2px;
    right: 50px;
}

.logo > img{
    width: 220px;
    height: 70px;
}

.watermark{
    position: absolute;
    top: 620px;
    left: 50px;

}

.watermark > img{
    width: 450px;
    height: 450px;
}

.box_certi{
    position: absolute;
    top: 5px;
    right: 30px;
}

.box_certi > img{
    width: 180px;
    height: 220px;
}

.sign{
    position: absolute;
    top: 700px;
    left: 70px;
}

.sign > img{
    width: 300px;
    height: 100px;
}

.sign_undersign > .name{
    font-size: 26px;
    position: absolute;
    top: 820px;
    left: 80px;
    font-weight: 400;
}

.sign_undersign > .design{
    font-size: 20px;
    position: absolute;
    top: 850px;
    left: 80px;
}

.certi_body__heading{
    font-size: 22px;
    top: 200px;
    left: 70px;
    position: absolute;
}

.certi_body__name{
    font-size: 80px;
    top: 250px;
    left: 70px;
    position: absolute;
}

.certi_body__course{
    font-size: 22px;
    top: 470px;
    left: 70px;
    position: absolute;
    width: 45%;
}

.certi_body__perfce{
    font-size: 24px;
    top: 620px;
    left: 70px;
    position: absolute;
    width: 75%;
}

.certi_body__perfce > span{
    font-size: 29px;
}

.certi_Terms{
    font-size: 10px;
    top: 1000px;
    left: 580px;
    position: absolute;
}

.certi_complen{
    font-size: 20px;
    top: 30px;
    right: 75px;
    position: absolute;
    width: 120px;
    line-height: 30px;
    height: 200px;
    /* text-align: center; */
}
