Dear {{ name }}

Thank you for registering for the short online course - {{course_id}} "{{ course_name }}".

The course is scheduled on during {{start_date}} - {{ end_date }}, 09:00 hrs to 17:00hrs. 

Please find the posters and relevant details of the course here
{{ course_poster }}

The course will be in blended learning format (online courses, assignment,
case studies, projects, and evaluation) Students can attend any one or more
courses. However, there are course packages on ‘design thinking’ and 
innovation and entrepreneurship.

We will share the login and password for the course two days before the 
course commences.

Best wishes
Coordinator, DIC, DU