{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/final_copy.css'%}">
    <title>DUDIC Website</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
          // Add smooth scrolling to all links
          $("a").on('click', function(event) {
        
            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
              // Prevent default anchor click behavior
              event.preventDefault();
        
              // Store hash
              var hash = this.hash;
        
              // Using jQuery's animate() method to add smooth page scroll
              // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
              $('html, body').animate({
                scrollTop: $(hash).offset().top
              }, 800, function(){
           
                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
              });
            } // End if
          });
        });
        </script>
</head>
<body>
    <header>
        <nav class='landing_header'>
            <img class='main_logo' src="{% static 'IMG/logo.svg'%}" alt="dudic-logo">
            <ul class='nav_links'>
                <li><a href="#scroll_about">About</a></li>
                <li><a href="#scroll_faq">FAQs</a></li>
                <li><a href="#scroll_Instructors">Instructors</a></li>
                <li><a href="http://course.dudic.io/login/"><button>Apply</button></a></li>
            </ul>
        </nav>
    </header>

    <section class="outside-container">
        <section class="container_1">
            <section class="landing-heading">
                    <h1>Courses at DUDIC</h1>
                <ul class="heading_list">
                    <li>DUDIC offers a number of courses in a blended learning format
                        (online courses, assignment, case studies, projects, and evaluation)</li>
                    <li>Students can attend any one or more courses.
                        However, there are course packages on ‘design thinking’ and innovation
                        and entrepreneurship</li>
                    <!-- <li>Join us our Slack Channel and visit and lets discuss ideas.</li> -->
                </ul>
            </section>

            <section id='scroll_about' class="courses">
                <h2>Courses</h2>

                <article class="courses-list">
                    <h3>Understanding Social Enterprises</h3>
                    <strong>CISE01B2</strong>
                    <ul>
                        <li>The online course Understanding Social Enterprise, we investigate diverse models of social enterprise and the local and global problems that they endeavor to address. So, if you are working with a social enterprise or believe in launching one, this short course provides a helpful underpinning. It will help you explore the diverse world of social enterprise; appraise your social enterprise idea; help you design your social enterprise model.  
                            This 2 day online course is jointly offered by Centre for Innovation and Social Enterprise, Kirori Mal College & Design Innovation Centre, University of Delhi.</li>
                        <li><button><a class='course-poster' href="https://dudic.io/wp-content/uploads/2020/05/Innovation-Course-7.jpg" target="_blank">Poster Link</a></button></li>
                    </ul>
                </article>


                <article class="courses-list">
                    <h3>Design Thinking</h3>
                    <strong>DUDIC01B2</strong>
                    <ul>
                        <li>Design Thinking, a technique used by designers to generate new ideas for products and services; this course offers the coveted technique of Design Thinking that can be applied in every aspects of life.</li>
                        <li><button><a class='course-poster' href="https://dudic.io/wp-content/uploads/2020/05/Innovation-Course6.jpg" target="_blank">Poster Link</a></button></li>
                    </ul>
                </article>

                <article class="courses-list">
                    <h3>2D & 3D product designing</h3>
                    <strong>DUDIC02B2</strong>
                    <ul>
                        <li>A two day hands on learning workshop. where you get familiar with basics of 2D and 3D product design process. You will learn how 3D printer and laser cutter works.</li>
                        <li><button><a class='course-poster' href="https://dudic.io/wp-content/uploads/2020/05/Innovation-Course5.jpg" target="_blank">Poster Link</a></button></li>
                    </ul>
                </article>

                <article class="courses-list">
                    <h3>Electronics product designing</h3>
                    <strong>DUDIC03B2</strong>
                    <ul>
                        <li>This course is mainly focused on hardware electronic designing as well as an overall discussion on Embedded, IoT & Solar products.</li>
                        <li><button><a class='course-poster' href="https://dudic.io/wp-content/uploads/2020/05/Innovation-Course2-1.jpg" target="_blank">Poster Link</a></button></li>
                    </ul>
                </article>

                <article class="courses-list">
                    <h3>Design Innovation and Startup</h3>
                    <strong>DUDIC04B2</strong>
                    <ul>
                        <li>In this course we explore the idea of applying a holistic design process to real-world challenges, and create solutions that can be effectively put into the market.</li>
                        <li><button><a class='course-poster' href="https://dudic.io/wp-content/uploads/2020/05/Innovation-Course.jpg" target="_blank">Poster Link</a></button></li>
                    </ul>
                </article>


                <article class="courses-list">
                    <h3>Branding Basics</h3>
                    <strong>DUDIC05B2</strong>
                    <ul>
                        <li>This course is aimed at people who are talented in their field but feel overwhelmed by branding and how to get started with their own business.
                            We will learn how to design brand identity from scratch by studying design principles, understanding what brand is, and by looking at some key elements you will need to get your business started.</li>
                        <li><button><a class='course-poster' href="https://dudic.io/wp-content/uploads/2020/05/Innovation-Course3.jpg" target="_blank">Poster Link</a></button></li>
                    </ul>
                </article>


                <!-- <article class="courses-list">
                    <h3>ICT framework for blended learning, and MOOC</h3>
                    <strong>DUDIC0B2</strong>
                    <ul>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et sunt sapiente assumenda obcaecati excepturi aspernatur nihil magni minima! Possimus tenetur exercitationem voluptatibus, hic perferendis autem ipsum sapiente vel deleniti commodi!</li>
                        <li><button><a class='course-poster' href="">Poster Link</a></button></li>
                    </ul>
                </article> -->


            </section>

            <section id='scroll_Instructors' class="courseInstructors">
                <h2>Course Instructors</h2>

                <article class="img_p_display">
                    <img src="{% static 'IMG/Dr_Roopinder_Oberoi.png'%}" alt="Roopinder Oberoi">
                    <p>I am Dr. Roopinder Oberoi, a faculty at Department of Political Science, Kirori Mal College, University of Delhi. I specialize in Political Science, Corporate Social Responsibility, Sustainable Development and Social Enterprises. In 2009 I was awarded a Post-Doctorate Research Fellowship and have recently completed course on Entrepreneurship in Emerging Economies from HarvardX and Course on Social Entrepreneurship from University of Oxford. I am currently working with British Council project on Social Enterprise and Higher Education. I am the Founding Member of Centre of Innovation and Social Enterprise, KMC, University of Delhi.
                        I have authored and edited 4 books on Corporate Social Responsibility and Sustainable Development in Emerging Economies, Lexington Publisher, USA (2015), Globalization Reappraised: A false Oracle or a talisman? Vajpeyi, D and Oberoi, R, Lexington Books, USA, (2017) Revisiting Globalization: From Borderless to Gated Globe, Springer, UK (2018). Forthcoming Book Social Enterprise in the Higher Education Sector (2020)</p>
                </article>


                <article class="img_p_display">
                    <img src="{% static 'IMG/Mask Group 23.png'%}" alt="Tridib-Ray">
                    <p>I am an industrial designer, with a background in architecture. Post my BArch and MDes from the School of Planning and Architecture, New Delhi, I have worked as an Assistant Professor teaching Design in DIT Dehradun, and as a retail designer in Hidesign India Pvt. Ltd. Currently as the Senior Design Fellow at Design Innovation Centre at Delhi University, I handle independent prototyping projects and managing the functioning of the innovation co-working space.</p>
                </article>

                <article class="img_p_display">
                    <img src="{% static 'IMG/debo.png'%}" alt="Debo">
                    <p>I am Debo Prasad Baruah, a Senior Design Fellow. I did Masters of Design from NIFT New Delhi and did B.tech in Mechanical engineering and currently pursuing Masters of Psychology from IGNOU to strengthen my understanding on human centric design. I have wide range of experience from Industrial design in export houses to developing Natural dyed textile for an NGO.</p>
                </article>

                <article class="img_p_display">
                    <img src="{% static 'IMG/akansha.svg' %}" alt="Akansha-Jhangid">
                    <p>Hi! I am Akanksha Jangid. I am a Graphic Designer with a focus on Brand and packaging design. After graduating with a BSc. degree in Animation & Multimedia from Birla Institute of Technology, Jaipur, I worked as a Freelancer for a few months and currently working as a Junior Design Fellow at Delhi University Design Innovation Centre. My goal is to help people by conveying their brand's vision through design.</p>
                </article>

                <article class="img_p_display">
                    <img src="{% static 'IMG/manish.png' %}" alt="Manish_Tamarkar">
                    <p>I am Junior Design Fellow at Design Innovation Center, University of Delhi with Background of Mechanical Engineering from ITM Gwalior. I have specialisation in 3D Designing, product prototyping and fabrication</p>
                </article>

                <article class="img_p_display">
                    <img src="{% static 'IMG/tapu.png' %}" alt="Tapadyuti">
                    <p>Hi! My name is Tapadyuti. I am a junior design fellow in the Design Innovation Centre. I completed my B.Tech in the domain of Electronics & Instrumentation from RCCIIT, Kolkata. My specialty is on Aerial Robotics, Embedded System & Solar product designing. I worked on a solar energy project in the National Institute of Solar Energy under Govt. of India.</p>
                </article>


            </section>

            <section id='scroll_faq' class="FAQ">
                <h2>Frequent Asked Questions</h2>
                <article class="Questn-Ans">
                    <!-- <section class="Question">
                        <img src="{% static 'IMG/Polygon.svg'%}" alt="polygon-image">
                        <h3>Why should you Apply?</h3>
                    </section>
                    <section class="answer">
                        <p>Participation in this program will be invaluable experience 
                            In your pursuit of a career in the industry and will provide 
                            you with access</p>
                    </section> -->
                </article>
            
                <!-- <article class="Questn-Ans">
                    <section class="Question">
                        <img src="{% static 'IMG/Polygon.svg'%}" alt="polygon-image">
                        <h3>More, more, more details please!</h3>
                    </section>
                    <section class="answer"> 
                        <p>Join any upcoming Q&A’s, our Slack channel </p>
                    </section>
                </article> -->
            </section>
        </section>

        <aside class="container_2">
            <article class='aside__content'>
                <h3>About Us</h3>
                <p>DIC, University of Delhi is a design center established at the university under the govt of India scheme "National initiative design innovation funded by MHRD".</p>
            </article>

            <article class='aside__content'>
                <h3>Dates</h3>
                <p>Throughout the year.</p>
            </article>

            <article class='aside__content'>
                <h3>Requirements</h3>
                <p>Refer to individual course links.</p>
            </article>

            <article class='aside__content'>
                <h3>Applicants</h3>
                <p>UG and PG Students
                    Entrepreneurs.</p>
            </article>

            <article class='aside__content'>
                <h3>Certificates</h3>
                <p>Completion certificate with grade
                    will be issued by coordinator DUDIC.</p>
            </article>

            <article class='aside__content'>
                <h3>Course Consultancy</h3>
                <p>During Office Hours.</p>
            </article>

            <article class='aside__content'>
                <h3>Contact</h3>
                <p>ask@dudic.io</p>
            </article>
        
        </aside>
    </section>

    <section class="above-footer">
        <h1>Lets make a world Better place</h1>
        <h2>#LearningSkillingGrowing</h2>
    </section>

    <footer>
        <ul>
            <li><img src="{% static 'IMG/logo.svg'%}" alt="dudic-logo"></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Usage</a></li>
        </ul>

    </footer>    
</body>
</ht